:root {
  /* Бэкграунды */
  --base-background: #0f0f0f;
  --base-background-secendary: #1e1e1e;

  /* Шрифты */
  --text-primary: #fafafa;
  --text-secendary: #cccccc;
  --text-inverse: #0f0f0f;
  --text-accent: #18cb6e;
  --text-danger: #dc3545;
}
