@use "mixins" as *;
@use "theme/index" as *;
@use "variables" as *;
@use "normalize" as *;
@use "fonts" as *;

body {
  background: var(--base-background);
  color: var(--text-primary);
  font: var(--font-medium);
  min-width: 360px;
}

a {
  color: var(--text-primary);
}
